* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root {
    --background-primary: #f4f5fb;
    --background-secondary: #ffffff;

    --color-brand: #cA3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847

    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;

    --border-primary: #d1d5db;
    --border-hover: #b9c2d0;
}